---
import NavBar from '@components/app/components/nav-bar/nav-bar'
import SideBarWrapper from '@components/app/components/side-bar/side-bar'
import ArcListWrapper from '@components/app/components/thing/arc-list/arc-list'
import ThingScreen from '@components/app/screens/thing'
import { ModeToggle } from '@components/ui/mode-toggle'
import { db } from '@db/db'
import { arc, arcThing, thing as thingSchema, thingType } from '@db/schema'
import MainLayout from '@layouts/main-layout.astro'
import { eq } from 'drizzle-orm'

const { campaignSlug, thingSlug } = Astro.params

if (!campaignSlug || !thingSlug) {
  return Astro.redirect('/404')
}

const ThingData = await db
  .select({
    thing: thingSchema,
    type: thingType.name,
  })
  .from(thingSchema)
  .fullJoin(thingType, eq(thingSchema.typeId, thingType.id))
  .where(eq(thingSchema.slug, thingSlug))
  .limit(1)

if (!ThingData[0]?.thing) {
  return Astro.redirect('/404')
}

const thing = ThingData[0].thing
const type = ThingData[0].type

const arcs = (await db
  .select({ id: arc.id, name: arc.name, slug: arc.slug })
  .from(arc)
  .fullJoin(arcThing, eq(arc.id, arcThing.arcId))
  .where(eq(arcThing.thingId, thing.id))) as {
  id: number
  name: string
  slug: string
}[]
---

<MainLayout title={thing.name}>
  <NavBar
    user={Astro.locals.user}
    campaignSlug={campaignSlug}
    client:load
    transition:persist
  />
  <div class='flex'>
    <SideBarWrapper
      user={Astro.locals.user}
      campaignSlug={campaignSlug}
      client:load
      transition:persist
    />
    <main class='flex-1 space-y-2 p-4 md:p-8 lg:p-12'>
      <div class='flex items-baseline gap-6'>
        <h1 class='text-primary text-4xl font-bold md:text-5xl'>
          {thing.name}
          <span class='text-lg font-normal'>({type})</span>
        </h1>
      </div>
      <div class='grid grid-cols-1 md:grid-cols-[1fr_300px]'>
        <ThingScreen
          thing={thing}
          user={Astro.locals.user}
          campaignSlug={campaignSlug}
          client:load
        />
        <div class='border-border overflow-y-auto border-l pl-6 md:pl-12'>
          <h2 class='mb-4 text-2xl font-semibold'>Arcs this features in</h2>
          <ArcListWrapper
            user={Astro.locals.user}
            campaignSlug={campaignSlug}
            thingSlug={thingSlug}
            initialArcs={arcs}
            client:load
          />
        </div>
      </div>
    </main>
  </div>
  <ModeToggle client:visible />
</MainLayout>
