---
import MainLayout from '@layouts/main-layout.astro'
import { db } from '@lib/db/db'
import { thingType } from '@lib/db/schema'
import { arc, campaign, thing } from '@lib/db/schema'
import { arcThing } from '@lib/db/schema'
import { slateToHtml } from '@lib/utils/slate-text-extractor'
import { and, desc, eq } from 'drizzle-orm'
import type { Descendant } from 'slate'

const { campaignSlug, thingSlug } = Astro.params

if (!campaignSlug || !thingSlug) {
  return Astro.redirect('/404')
}

const [{ thing: thingData, campaign: campaignData, thing_type: typeData }] =
  await db
    .select()
    .from(thing)
    .fullJoin(campaign, eq(thing.campaignId, campaign.id))
    .fullJoin(thingType, eq(thing.typeId, thingType.id))
    .where(
      and(
        eq(thing.slug, thingSlug),
        eq(campaign.slug, campaignSlug),
        eq(thing.published, true),
        eq(campaign.published, true)
      )
    )
    .orderBy(desc(thing.updatedAt))
    .limit(20)

if (!thingData || !typeData || !campaignData) {
  return Astro.redirect('/404')
}

const arcs = await db
  .select({ id: arc.id, name: arc.name, slug: arc.slug })
  .from(arc)
  .fullJoin(arcThing, eq(arc.id, arcThing.arcId))
  .where(
    and(
      eq(arcThing.thingId, thingData.id),
      eq(arc.published, true),
      eq(arc.campaignId, campaignData.id)
    )
  )
---

<MainLayout title={`${thing.name} (Thing) - ${campaignData.name} | ArcAide`}>
  <div class='dnd-content min-h-screen'>
    <nav class='text-muted-foreground mb-4 text-sm'>
      <a href={`/campaign/${campaignSlug}/`}>{campaignData.name}</a> / <a
        href={`/campaign/${campaignSlug}/thing/${thingSlug}/`}
        >{thingData.name}</a
      >
    </nav>
    <h1>
      {typeData.name}: {thingData.name}
    </h1>
    <div
      set:html={slateToHtml(
        thingData.description as Descendant[],
        campaignSlug
      )}
    />
    <div class='mt-4'>
      <h2>Appears in Arcs</h2>
      {
        arcs.length > 0 ? (
          <ul>
            {arcs.map((arc) => (
              <li>
                <a href={`/campaign/${campaignSlug}/arc/${arc.slug}/`}>
                  {arc.name}
                </a>
              </li>
            ))}
          </ul>
        ) : (
          <p class='text-muted-foreground'>This thing is not in any arcs.</p>
        )
      }
    </div>
  </div>
</MainLayout>
