---
import { SearchBarWrapper } from '@components/app/components/search-bar/search-bar'
import ArcScreen from '@components/app/screens/arc'
import { db } from '@db/db'
import { arc as arcSchema, arcThing, campaign, thing } from '@db/schema'
import MainLayout from '@layouts/main-layout.astro'
import { slateToHtml } from '@utils/slate-text-extractor'
import { desc, eq } from 'drizzle-orm'
import type { Descendant } from 'slate'

const { campaignSlug, arcSlug } = Astro.params

if (!campaignSlug || !arcSlug) {
  return Astro.redirect('/404')
}

const arcData = await db
  .select({ arc: arcSchema, campaignName: campaign.name })
  .from(arcSchema)
  .fullJoin(campaign, eq(arcSchema.campaignId, campaign.id))
  .where(eq(arcSchema.slug, arcSlug))
  .limit(1)

if (!arcData[0]?.arc) {
  return Astro.redirect('/404')
}

const arc = arcData[0].arc
const campaignName = arcData[0].campaignName

const things = await db
  .select({ thing })
  .from(thing)
  .fullJoin(arcThing, eq(thing.id, arcThing.thingId))
  .where(eq(arcThing.arcId, arc.id))
  .orderBy(desc(thing.updatedAt))
  .limit(10)
---

<MainLayout title={arc.name}>
  <main class='space-y-6 p-4 md:p-8 lg:p-12'>
    <div class='flex items-baseline gap-6'>
      <h1 class='text-primary text-4xl font-bold md:text-5xl'>
        {campaignName}: {arc.name}
        <span class='text-lg font-normal'>(Arc)</span>
      </h1>
      <SearchBarWrapper
        user={Astro.locals.user}
        campaignSlug={campaignSlug}
        client:load
      />
    </div>
    <div>
      <a
        href={`/dashboard/campaign/${campaignSlug}/`}
        class='text-accent text-lg font-normal hover:italic'
      >
        Back to Campaign</a
      >
    </div>
    <div class='grid grid-cols-1 md:grid-cols-[1fr_300px]'>
      <ArcScreen
        arc={arc}
        user={Astro.locals.user}
        campaignSlug={campaignSlug}
        client:load
      />
      <div class='border-border overflow-y-auto border-l pl-6 md:pl-12'>
        <h2 class='mb-4 text-2xl font-semibold'>Recently Updated Things</h2>
        <div class='space-y-4'>
          {
            things
              .map((thing) => thing.thing)
              .filter((thing) => thing !== null)
              .map((thing) => (
                <div class='thing border-border bg-primary/5 relative rounded-lg border p-4'>
                  <h3 class='text-lg font-semibold'>{thing.name}</h3>
                  <div
                    class='text-muted-foreground line-clamp-3 text-sm'
                    set:html={slateToHtml(thing.description as Descendant[])}
                  />
                  <a
                    href={`/dashboard/campaign/${campaignSlug}/thing/${thing.slug}/`}
                    class='absolute inset-0'
                  >
                    <span class='sr-only'>View {thing.name}</span>
                  </a>
                </div>
              ))
          }
        </div>
      </div>
    </div>
  </main>
</MainLayout>

<style is:global>
  .thing {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bold;
    }
  }
</style>
